[submodule "public"]
	path = public
	url = https://github.com/leopardshadow/leopardshadow.github.io
[submodule "content"]
	path = content
	url = https://github.com/leopardshadow/blog-contents
[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/Vimux/mainroad
